---
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: 'true'
AllowAllArgumentsOnNextLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '80'
IncludeBlocks: Regroup
IndentWidth: '4'
SortIncludes: 'true'
SpacesBeforeTrailingComments: '1'
TabWidth: '4'
---
